[Desktop Entry]
Name=Backup
Name[de]=Backup
GenericName[de]=Backupskript
Comment[de]=Sichert Daten auf definierten Server
Exec=/[place of script]/backup.sh
Icon=/[place of icon]/icon_backup.png
Terminal=true
Type=Application
StartupNotify=true
Categories=System;
