[Desktop Entry]
Name=Backup
Name[de]=Backup
GenericName[de]=Backupskript
Comment[de]=Sichert Daten auf definierten Server
Exec=/home/tilman/.skripte/backup/backup.sh
Icon=/home/tilman/.icons/icon_backup.png
Terminal=true
Type=Application
StartupNotify=true
Categories=System;
